---
title: Jessica Rowland | Developer
---

<div class="row main-container">
  <div class="col-md-6">
    <img src="images/image-me.jpg" class="img-responsive img-circle center-block" alt="photo of me" width="300" height="150">
  </div>
  <div class="col-md-6 about-me-container">
    <p>Hi there! My name is Jessica.</p>
    <p>I am originally from Colonial Heights, VA, a small town 20 miles south of Richmond.  I graduated from Virginia Commonwealth
      University with a B.S. in Psychology. A year ago, I began teaching myself how to code.  I am currently enrolled in Launch
      Academy's Online Intensive Web Development program.  After finishing, I intend on finding employment and moving to NYC.</p>
    <p>Outside of coding, I love to travel, go to Yankees games, concerts, and all things coffee!</p>
  </div>
</div>
