---
title: Jessica Rowland | Developer
---

<div class="row main-container">
  <div class="col-md-4 text-center">
    <a href="http://www.jessicalearrowland.com"><img src="images/project_1.jpg" alt="image of personal website" height="200" width="400" class="img-thumbnail project-image img-responsive center-block"></a>
    <p class="project-title">PERSONAL PORTFOLIO</p>
    <p><a href="https://github.com/rowlandjl/Personal_site">VIEW ON GITHUB</a></p>
  </div>
  <div class="col-md-4 text-center">
    <a href="http://medication-tracker.herokuapp.com"><img src="images/medication-tracker-screenshot.png" alt="image of medication tracker project" height="200" width="400" class="img-thumbnail project-image img-responsive center-block"></a>
    <p class="project-title">MEDICATION TRACKER</p>
    <p><a href="https://github.com/rowlandjl/medication-tracker">VIEW ON GITHUB</a></p>
  </div>
  <div class="col-md-4 text-center">
    <a href="www.everlastingsnapsllc.com"><img src="images/everlasting-snaps.png" alt="image of everlasting snaps website" height="200" width="400" class="img-thumbnail project-image img-responsive center-block"></a>
    <p class="project-title">EVERLASTING SNAPS, LLC.</p>
  </div>
</div>
