---
title: Jessica Rowland | Developer
---

<div class="row main-container">
  <div class="col-md-12 text-center project-container">
    <img src="images/project_1.jpg" alt="image of personal website" height="900" width="600" class="img-thumbnail project-image img-responsive center-block">
    <p class="project-title">PERSONAL PORTFOLIO</p>
    <p>
      <a href="https://github.com/rowlandjl/Personal_site">VIEW ON GITHUB</a>
    </p>
  </div>
</div>
